# Ignore all Java project files
*.class
*.jar
*.war
*.ear

# Ignore Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Ignore target directory
target/
.mvn
.idea
.smarttomcat

node_modules/