<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <h1 class="text-4xl font-bold text-center">
        Project List
    </h1>

    <p th:text="${message}">Mensaje por defecto</p>
    <div th:if="${project != null}">
        <p th:text="${project.id}">Project Id</p>
        <p th:text="${project.name}">Project name</p>
    </div>
    <div th:unless="${project != null}">
        <p>Project not found</p>
    </div>

</body>

</html>